/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.10.2021, 17:25:08
    Author     : root
*/
/* index.jsp page css start here*/
body{
    width: 96%;
    margin-left: 2%;
}
.main
{
    width:700px;;
    margin-left:250px;
    padding: 10px;
    border: 5px solid grey;
}
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}
td
{
    border: 5px solid silver;
    text-align: center;
    padding: 8px;
}
/* index.jsp page css end here*/

/* add.jsp page css start here*/
.main
{
    width:700px;;
    margin-left:250px;
    padding: 10px;
    border: 5px solid grey;
}
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}
td
{
    border: 5px solid silver;
    text-align: left;
    padding: 8px;
}
select
{
    border: 5px solid silver;
    text-align: left;
    padding: 8px;
}
/* add.jsp page css end here*/

/* edit.jsp page css start here*/
.main
{
    width:700px;;
    margin-left:250px;
    padding: 10px;
    border: 5px solid grey;
}
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}
td
{
    border: 5px solid silver;
    text-align: left;
    padding: 8px;
}
select
{
    border: 5px solid silver;
    text-align: left;
    padding: 8px;
}
/* edit.jsp page css end here*/

header{
    height: 110px;
    border-radius: 5px;
    background: #ccccff
}
#top-image{
    height: 90px;
    width: 90px;
    top: 20px;
    background: #6699ff;
    position: absolute;
    left: 5%;
    border-radius: 5px;
}
footer{
    height: 80px;
    background: #6184aa;
    border-radius: 0px 0px 5px 5px;
    vertical-align: central;
}
footer div{
    padding-top: 35px;
    font-weight: bold;
    padding-left: 10px;
}
footer span {
    margin-right: 15px;
}
