*{
    padding: 0; 
    margin: 0; 
    font-family: sans-serif;}

button, .button {
    padding: 15px 20px; 
    cursor: pointer; 
    text-decoration: none; 
    color: #fff; 
    background: #3cb7ff; 
    border: none;     
    display: block;
}

header {
    display: flex; 
    justify-content: space-around; 
    padding: 30px; 
    align-items: center;  
    background: #b5ebff; 
    color: #686868;
}
header ul.menu {
    list-style: none; 
    display: flex; 
}
header ul.menu li{
    padding: 15px 20px; 
    font-size: 20px; 
    background: #b5e6f9;  
    margin: 0px 5px;
}
header ul.menu li:hover { 
    background: #3cb7ff; 
    color: #fff; 
    transition: .3s; 
    cursor: pointer;
}
header img {
    border-radius: 50%; 
    width: 90px; 
    margin: 0px 30px;
}

#main {
    width: 70%; 
    margin: 4% auto;
}
.table, .update { 
    width: 100%; 
    border: none;  
    box-shadow: 0 0 3px 0px rgb(231 231 231);  
    padding: 18px;  
    border-radius: 10px;  
    color: #686868;
}
.table th, .table td { 
    padding: 25px; 
    font-size: 20px;
}
.table td { 
    border: none; 
    font-size: 18px; 
    text-align: center;
}
.table tr:nth-child(2n+1){ 
    background: #b5ebff;
}

.table tr:hover {
    background: #3cb7ff;
    color: #fff; 
    transition: .3s;
}
.table tr:hover > td a.button{
    background: #0192e7 !important;
}

.table tr {
    transition: .3s;
}

#main .title {
    padding: 20px; 
    font-size: 30px; 
    text-align: center; 
    color: #686868;
}

.update {
    display: flex; 
    flex-direction: column; 
    width: 50%; 
    margin: auto;
}
.update input {
    padding: 20px; 
    box-shadow: 0 0 3px 0px rgb(231 231 231); 
    border:none; 
    margin-bottom: 20px;
}

footer {
    display: flex; 
    justify-content: center; 
    padding: 30px; 
    align-items: center;  
    background: #b5ebff; 
    color: #686868;
}

@media only screen and (max-width: 1320px){ button, .button {display: block;} }